* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.canvasWindow {
    width: 100%;
    height: 70%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .canvasContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        canvas {
            width: 100%;
            height: 100%;
        }
    }
}

.buttonsPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadButton{
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 10px;
    font-size: 14px;
}
