*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasWindow{
    width: 80%;
    height: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    canvas{
        width: 100%;
        height: 100%;
    }
}

.buttonsPanel{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}